# Edit CSV with Module CSV (Not Recommended)

In [2]:
import csv
import os
import sys
print (os.path.abspath('.'))

# Read the CSV File
pathProg = os.path.abspath('.')
file = open(pathProg + '/example_data.csv', 'r') # 'w' means write, 'r' means read.
csvCursor = csv.reader(file)

for row in csvCursor:
    print(row)
    
file.close()

# Add row to the CSV File

file = open(pathProg + '/example_data.csv', 'w') # 'w' means write, 'r' means read.
csvCursor = csv.writer(file)

csvHeader = ['timestamp', 'machine_id', 'user_id', 'boxState']
csvCursor.writerow(csvHeader)

file.close()

# Read the CSV File
pathProg = os.path.abspath('.')
file = open(pathProg + '/example_data.csv', 'r') # 'w' means write, 'r' means read.
csvCursor = csv.reader(file)

for row in csvCursor:
    print(row)
    
file.close()

# This procedure is too complicated...
# The website I refered to: https://www.jianshu.com/p/b8110d578155

/Users/lizhengen/Documents/GitHub/Practice-of-My-First-Crawler
['Name', 'Age', 'Sex']
['Apple', '20', 'M']
['Bird', '23', 'F']
['Cat', '25', 'F']
['timestamp', 'machine_id', 'user_id', 'boxState']

# Edit CSV with Module Panda

* The tutorials website I refered to: https://medium.com/datainpoint/從-pandas-開始-python-與資料科學之旅-8dee36796d4a

### Import The Data

In [3]:
import pandas as pd # Import the package and shorten its name as "pd"
import os

# Load the CSV file
newDF = pd.read_csv('example_data.csv')  
print(type(newDF))    # Get the type of the file we load in.
newDF.head()    # Illustrate the file we load in more sophistically.

<class 'pandas.core.frame.DataFrame'>

Empty DataFrame
Columns: [timestamp, machine_id, user_id, boxState]
Index: []

In [4]:
# Load the EXCEL file
newDFOfExcel = pd.read_excel('Example_Excel_Data.xlsx')  
print(type(newDFOfExcel))    # Get the type of the file we load in.
newDFOfExcel.head()    # Illustrate the file we load in more sophistically.

<class 'pandas.core.frame.DataFrame'>

     Name    Nationality  Number of his & her children
0   Gates  United States                             2
1  Bills           China                             0
2  Amanda          China                             1
3   Cindy         Chille                             2
4   Tiger          Japan                             2

### Process The Data Frame

In [34]:
# Get some fundamental information about the data frame
print("The number of rows and columns in this data frame is: " + str(newDFOfExcel.shape) + "\n")

# Get the first columns
print(str(newDFOfExcel.columns) + "\n")

# Sift out some rows
print("\n\n")
print(newDFOfExcel[0:3])

# Check the data in particular address
print("\n\n")
newDFOfExcel['Nationality'][2]

# Get the description of the rows
print(str(newDFOfExcel.index) + "\n")

# Get the description of this data frame
print("\n\n")
print(newDFOfExcel.info())
print("\n\n")

# Get the description statistics of the columns in which the type of data are int, just like summary() in R I think.
print(newDFOfExcel.describe())

The number of rows and columns in this data frame is: (10, 4)

Index(['Name', 'Nationality', 'Number of his & her children', 'Test Column'], dtype='object')




     Name    Nationality  Number of his & her children  Test Column
0   Gates  United States                             2            6
1  Bills           China                             0            0
2  Amanda          China                             1            3



RangeIndex(start=0, stop=10, step=1)




<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
Name                            10 non-null object
Nationality                     10 non-null object
Number of his & her children    10 non-null int64
Test Column                     10 non-null int64
dtypes: int64(2), object(2)
memory usage: 400.0+ bytes
None



       Number of his & her children  Test Column
count                     10.000000    10.000000
mean                       1.700000     5.100000
std                        1.251666     3.754997
min                        0.000000     0.000000
25%                        1.000000     3.000000
50%                        2.000000     6.000000
75%                        2.000000     6.000000
max                        4.000000    12.000000

In [6]:
# Sift out some rows which was satisfied by some conditions
print(newDFOfExcel[newDFOfExcel['Nationality'] == 'United States'])
print("\n\n")
print(newDFOfExcel[(newDFOfExcel['Number of his & her children'] != 0) & (newDFOfExcel['Nationality'] != 'China')])
# "&" means "and", and "|" means "or".

# Only select several particular columns
print("\n\n")
print(newDFOfExcel[['Name', 'Number of his & her children']])

    Name    Nationality  Number of his & her children
0  Gates  United States                             2
5   Jack  United States                             3
7    Tea  United States                             2



    Name    Nationality  Number of his & her children
0  Gates  United States                             2
3  Cindy         Chille                             2
4  Tiger          Japan                             2
5   Jack  United States                             3
7    Tea  United States                             2
8  Tonny          Japan                             1
9  Jerry         Chille                             4



     Name  Number of his & her children
0   Gates                             2
1  Bills                              0
2  Amanda                             1
3   Cindy                             2
4   Tiger                             2
5    Jack                             3
6   Ricky                             0
7     Tea                             2
8   Tonny                             1
9   Jerry                             4

In [38]:
# Create new column
newDFOfExcel['Test Column'] = 3 * (newDFOfExcel['Number of his & her children'])
print(newDFOfExcel)

# Aggregate the data in Column & Get the mean & Seperate data into several groups
print("\n\nThe total number of children of everyone is: " + str(newDFOfExcel['Number of his & her children'].sum()) + "\n")
print(newDFOfExcel[newDFOfExcel['Nationality'] == 'China']['Number of his & her children'].mean())
print("\n\n")
print(newDFOfExcel.groupby(by = 'Nationality')['Number of his & her children'].sum())

     Name    Nationality  Number of his & her children  Test Column
0   Gates  United States                             2            6
1  Bills           China                             0            0
2  Amanda          China                             1            3
3   Cindy         Chille                             2            6
4   Tiger          Japan                             2            6
5    Jack  United States                             3            9
6   Ricky          Korea                             0            0
7     Tea  United States                             2            6
8   Tonny          Japan                             1            3
9   Jerry         Chille                             4           12


The total number of children of everyone is: 17

0.5



Nationality
Chille           6
China            1
Japan            3
Korea            0
United States    7
Name: Number of his & her children, dtype: int64

### Process The Series

In [45]:
# Extract series from data frame
newSeriesOfExcel = newDFOfExcel['Test Column']
print(type(newSeriesOfExcel))
print(newSeriesOfExcel)

# Extract nadarray from series
print("\n\n")
print(type(newSeriesOfExcel.values))
print(newSeriesOfExcel.values)

<class 'pandas.core.series.Series'>
0     6
1     0
2     3
3     6
4     6
5     9
6     0
7     6
8     3
9    12
Name: Test Column, dtype: int64



<class 'numpy.ndarray'>
[ 6  0  3  6  6  9  0  6  3 12]

### Process The Panel

In [60]:
dicOfPanel = {}

DFOne = newDFOfExcel[0:3].reset_index(drop = True)    # Without ".reset_index(drop = True)", system would integrate all the data frames into one form after it finish the process of generating the panel.
dicOfPanel[1] = DFOne

DFTwo = newDFOfExcel[3:6].reset_index(drop = True)
dicOfPanel[2] = DFTwo

DFThree = newDFOfExcel[6:9].reset_index(drop = True)
dicOfPanel[3] = DFThree

newPanel = pd.Panel(dicOfPanel)
newPanel[2]

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2961: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  exec(code_obj, self.user_global_ns, self.user_ns)

    Name    Nationality Number of his & her children Test Column
0  Cindy         Chille                            2           6
1  Tiger          Japan                            2           6
2   Jack  United States                            3           9

In [71]:
# Rotate and transform the data frame
print(newDFOfExcel)
print("\n\n")
Transpose = newDFOfExcel.melt()
print(Transpose)

     Name    Nationality  Number of his & her children  Test Column
0   Gates  United States                             2            6
1  Bills           China                             0            0
2  Amanda          China                             1            3
3   Cindy         Chille                             2            6
4   Tiger          Japan                             2            6
5    Jack  United States                             3            9
6   Ricky          Korea                             0            0
7     Tea  United States                             2            6
8   Tonny          Japan                             1            3
9   Jerry         Chille                             4           12



                        variable          value
0                           Name          Gates
1                           Name         Bills
2                           Name         Amanda
3                           Name          Cindy
4                           Name          Tiger
5                           Name           Jack
6                           Name          Ricky
7                           Name            Tea
8                           Name          Tonny
9                           Name          Jerry
10                   Nationality  United States
11                   Nationality          China
12                   Nationality          China
13                   Nationality         Chille
14                   Nationality          Japan
15                   Nationality  United States
16                   Nationality          Korea
17                   Nationality  United States
18                   Nationality          Japan
19                   Nationality         Chille
20  Number of his & her children              2
21  Number of his & her children              0
22  Number of his & her children              1
23  Number of his & her children              2
24  Number of his & her children              2
25  Number of his & her children              3
26  Number of his & her children              0
27  Number of his & her children              2
28  Number of his & her children              1
29  Number of his & her children              4
30                   Test Column              6
31                   Test Column              0
32                   Test Column              3
33                   Test Column              6
34                   Test Column              6
35                   Test Column              9
36                   Test Column              0
37                   Test Column              6
38                   Test Column              3
39                   Test Column             12

### Export The Data

In [ ]:
Transpose.to_csv('output_cvs_file.csv', index = False)
Transpose.to_excel('output_cvs_file.xlsx', index = False)